[2017-10-05 15:30] genesor opened #4 "-p flag is ignored"
Even if the flag is marked as `DEPRECATED` it's not working anymore.

[code]

Generates this file:

[code]

[2017-10-22 19:28] hexdigest commented on #4
Hi @genesor

Issue is fixed now, better late than never.
Thank you for you report!

[2017-10-22 19:28] #4 closed

[2018-01-23 08:40] genesor opened #8 "Flag to display version"
Right now we cannot know what version we are running without generating a mock and analyzing the output.

Could you please make an improvement to have a `-v` flag to display the version of the minimock bin we have ?

Thanks

[2018-01-23 08:44] hexdigest commented on #8
Hi, @genesor

Sure, I'll implement it soon.

[2018-02-20 15:50] #8 closed

[2018-07-26 12:13] namreg opened #10 "Add flag to specify build tags"
I use minimock for my project and really like it. In that project, I have a lot of mocks. I want to move these mocks to separate package and exclude from the build for production. Hence, I need an ability to specify build tags during generating mocks.

[2018-08-06 09:14] namreg commented on #10
@hexdigest Any thoughts? :)

[2018-08-06 13:11] hexdigest commented on #10
@namreg is this package you want to move mocks to will contain only these mocks?
If so, I believe it would be excluded from the production build naturally since you will import this package only from your tests.

[2018-08-06 14:12] namreg commented on #10
@hexdigest Oh... I read go documentation inattentively. Thanks! So, there are no needs for me in this issue, I think you may close it :)

[2018-08-07 06:46] namreg commented on #10
@hexdigest Sorry, it seems I harried up with conclusions in the previous comment. I could not move mocks to separate package because of I've got the cyclic dependency. So, I decided to put mock together with an interface. Hence, I still need an ability to specify build tags for generated mock

[2018-08-07 18:32] hexdigest commented on #10
@namreg You still don't need build tags for that. By default minimock generates *_mock_test.go files so they are ignored by the compiler when you make build for production. If you specified output files names manually via "-o" flag then you can just change files names for you mocks so they end up with _test.go suffix.

[2018-08-08 06:58] namreg commented on #10
@hexdigest as I know, file with suffix `_test.go` compiles only when tests running in a package where this `_test.go` file is located. But I need an ability to use mocks in other packages, for example:
[code]

[2018-08-08 09:58] namreg commented on #10
I understand what you mean, but I believe not always this can be achieved. So, what if I have a small interface, let's say `Clock`, that has 2 methods: `Now()` and `StartEpoch()`. These methods are being used by a few others packages. What can I do in this situation?

[2018-08-08 19:45] hexdigest commented on #10
@namreg If you pass this interface as a parameter to the functions/methods defined in different packages than you can share it. This approach is widely used in standard library and common interfaces like io.Reader, io.Writer and so on. But if you use this interface as a dependency then I would copy the interface declaration rather than introduce another dependency.

If you add build tags to these

[2018-08-09 08:57] namreg commented on #10
@hexdigest I am using the clock interface as a dependency in a few packages. I create this dependency in the main function and pass it to that packages. So, if I will copy the clock interface, let's say 2 times, then I will require to create 2 implementations of this interface which will be the same. In the main function the code will be like:
[code]
It seems that the code looks a little bit ugly

[2018-08-09 12:26] namreg commented on #10
@hexdigest Ok, I agree with this approach relative to the clock interface. So, what if my interface has more than 2-3 methods? Let's go back to the `Storage` interface. Suppose, it has the following methods:
[code]
Let's say I will segregate this interface into 2 interfaces that located in other packages:
[code]

[code]
So, there are several questions that I don't like:
1. I will need to duplicate

[2018-08-12 06:44] hexdigest commented on #10
@namreg

1) You may not want to duplicate Key and Value but it depends on how these types look like in your case. If they are just an aliases of the interface{} I would end up using interface{} instead of these types.
2) You don't have to do it in this way because you will use memory.Memory type somewhere in the main package (I guess) where it will be used as both server.Storage and command.Storag

[2018-08-14 13:51] hexdigest commented on #10
@namreg Any thoughts on above comment? I'm just trying to convince you that using build tags is almost always a bad idea except the main use case - different implementations of something for different platforms.

[2018-08-15 06:51] namreg commented on #10
@hexdigest
1. No, my Key and Value are not aliases of the interface{}. Key is the alias for string, but Value is a struct type with some fields: `data`, `ttl, `datatType`
2. I agree with you, but when I implement a new storage I would like to know what methods I should implement. And I see this approach many times. Maybe it is wrong. Golang faq has some comments about that https://golang.org/doc/f

[2018-08-16 07:41] namreg commented on #10
@hexdigest So, this approach is not working for me, again... My problem is that Server is responsible for creating a Command. Hence, the Server interface is not suitable for the Command interface:
[code]

Maybe I do something wrong and my architecture is completely not satisfied to go way

[2018-08-16 09:00] hexdigest commented on #10
@namreg

I think something wrong with architecture. First of all not all commands may need storage, maybe you want to introduce something like "ping" command or "stats" command in the future that don't need storage at all.

That's what I would do:

[code]

I hope you get the idea. With this approach you can also mock a command parser so it can return an implementation of a command.Command with req

[2018-08-17 12:48] namreg commented on #10
@hexdigest Finally, I have done it! :) And I think It seems pretty cool. Thank you very much! Can you recommend any resources about duck typing concepts?

[2018-08-17 13:00] hexdigest commented on #10
Well I came from the Ruby background so this concept was pretty natural for me. This article seems ok:
https://theburningmonk.com/2015/05/why-i-like-golang-interfaces/

Also there is "accept interfaces, return structs" idiom in Go.
And of course https://en.wikipedia.org/wiki/Interface_segregation_principle

[2018-08-17 13:00] #10 closed

[2018-11-02 12:46] Vany opened #15 "oops"
[code]

[2018-11-05 08:56] hexdigest commented on #15
Thanks, @Vany ! I'll look at it.

[2018-11-06 10:35] AndreyBronin opened #16 "Does not work without GOPATH env variable"
Fails with error
minimock: failed to detect import path of the ...: can't detect package for file: "..."

Workaround is
GOPATH=\`go env GOPATH\` minimock -i path -o bla bla

[2018-11-07 10:36] hexdigest commented on #16
@AndreyBronin  Thanks for the bug report! Can you please update the minimock and confirm that the problem is fixed?

[2018-11-07 10:36] hexdigest commented on #15
@Vany can you please update the minimock and confirm that the problem is fixed?

[2018-11-07 10:46] Vany commented on #15
Yes, Thank!

[2018-11-07 10:46] #15 closed

[2018-11-07 11:54] AndreyBronin commented on #16
Now I get another error.
I am using dep v0.5.0 instead go mod, go version go1.11.2 darwin/amd64

$ minimock -i github.com/insolar/insolar/network.HostNetwork -o ./testutils/network/
`minimock: failed to detect import path of the ./testutils/network/: "/Users/bronin/go/src/github.com/insolar/insolar/testutils/network" is out of GOPATH and go.mod file is not found in any of the parent directories`

[2018-11-08 12:39] hexdigest commented on #16
@AndreyBronin The only solution I see in your case (using dep) is to add "/Users/bronin/go" to GOPATH, otherwise minimock won't be able to resolve neither ./testutils/network/ nor github.com/insolar/insolar/network

[2018-12-07 09:05] angrz opened #19 "generated code does not meet golint requirements"

[2018-12-07 09:53] VyacheslavErmakov commented on #19
exported method ....... should have comment or be unexported
for generated mock file

[2018-12-13 23:06] VyacheslavErmakov commented on #19
pull request created #20

[2018-12-14 10:18] angrz commented on #19
fixed by #20

[2018-12-14 10:18] #19 closed

[2018-12-27 10:59] beono opened #22 "FeatureRequest: named input arguments for functions"
For example, I have an interface:

[code]

Than, I have to work with arguments `p, p1, p2`.
[code]

Instead, I would like to see names of variables according to interface declaration (`ctx, Data, Filename`).
Also I don't think we need to pre allocate return values (`r` and `r1`)

[code]

[2019-01-09 21:50] hexdigest commented on #22
Hi @beono

Sorry for the delayed response. This should be fixed with minimock v2.0.0 please check it out and feel free to reopen the issue if the problem still exists.

[2019-01-09 21:50] #22 closed

[2019-01-09 21:52] hexdigest commented on #16
@AndreyBronin this should be fixed now. Please check out the latest version of minimock (v2.0.0) and give it a try. Feel free to reopen this issue if the problem persists.

[2019-01-09 21:52] #16 closed

[2019-01-11 09:54] angrz opened #23 "suffix flag has been removed"
`suffix      = flag.String("s", "_mock_test.go", "output file name suffix which is added to file names when multiple interfaces are given")`
Hi, there was a suffix flag before switch to gowrap, it wasn't  marked as deprecated. I would be very grateful if you could bring that flag back.

[2019-01-11 12:07] beono commented on #23
Yep. Please, bring it back. I don't need `_mock_test.go` suffix.

[2019-01-11 14:51] beono commented on #23
@hexdigest

Well, that makes sense, however if I follow your suggestion then I will have too many files in my packages.

Imagine I have a file that contains 10 interfaces.
According to your idea I will get something like:
[code]

Therefore I would like to have a subpackage `mocks` which will hide all "useless" files.
I will keep foo_test.go in the same directory as foo.go since I want to be able t

[2019-01-15 11:03] hexdigest commented on #23
@angrz @beono thanks for your comments.
This issue is fixed in 2.1.0, please update.

[2019-01-15 11:03] #23 closed

[2019-01-29 09:32] NOMORECOFFEE opened #24 "missing imports"
internal/pkg/app/app.go
[code]
/internal/pkg/protobuf
[code]
internal/app/mock/doc.go
[code]
Run minimock version `2.1.0`
`minimock -i "./internal/pkg/app.*" -o "./internal/app/mock/" -s "_mock.go"`
and got
[code]
missing import is `desc "<github path to>/internal/pkg/protobuf"`

[2019-01-29 09:37] NOMORECOFFEE commented on #24
doesn't work to
internal/pkg/app/app.go
[code]

[2019-01-31 11:21] hexdigest commented on #24
Hi, @NOMORECOFFEE !

Thanks for raising the issue. Minimock uses goimports package to fix the imports. I checked that goimports doesn't work either. I tried to use goimports program against the generated file and no imports were inserted by goimports.

However, there's a way to fix it, stay tuned!

[2019-02-01 08:30] #24 closed

[2019-02-01 17:08] pradovic opened #25 "Func's are missing"
When I generate mocks using new version of minimock, all the functions are missing, and my old tests get compilation error, for ex:  myMock.InsertFunc undefined. Is this intended or am I doing something wrong maybe? Also, mock generation goes much faster then before.

[2019-04-15 13:18] msoap opened #27 ""atomic redeclared as imported package name" build error"
Hi,
great tool:), but is not working with interfaces with `.../atomic` types like `"go.uber.org/atomic"`.

For example for interface:
[code]

minimock generates mock:
[code]
which produce build error:
[code]

[2019-04-17 03:08] deadok22 commented on #27
Just hit that, too.

@msoap as a workaround you can use a named import like this:
[code]

[2019-04-17 08:05] hexdigest commented on #27
@msoap glad to see you again and thank you for raising the issue.
@deadok22 thanks for the workaround

I'll fix it soon.

[2019-04-20 20:20] hexdigest commented on #27
@msoap @deadok22 please check if the latest 2.1.3 version works for you

[2019-04-23 03:09] deadok22 opened #28 "-o breaks on empty directories"
Specifying an empty output directory for `-o` option results in `minimock` failing.

Steps to reproduce:
[code]

[2019-04-23 03:10] deadok22 commented on #27
Thanks for jumping onto this @hexdigest. Unfortunately, the fix doesn't work for me.

Here's how to reproduce the issue:
* Download [i27.tar.gz](https://github.com/gojuno/minimock/files/3105566/i27.tar.gz)
* Make sure Go modules is enabled:
[code]
* Run `go generate`:
[code]
* `github.com/gbrlsnchs/jwt/v3` should not be imported

While reproducing the issue I've noticed another issue: `-o` option

[2019-04-23 04:04] deadok22 opened #29 "Enable generating mocks for interfaces in any stdlib package"
It appears there's a fixed set of standard library packages `minimock` can generate mocks for. For example, `go run github.com/gojuno/minimock/cmd/minimock -g -i io.Reader` succeeds while the following fails:
[code]

[2019-04-23 04:05] deadok22 commented on #29
Oops, my bad:
[code]

[2019-04-23 04:05] #29 closed

[2019-04-23 08:27] hexdigest commented on #27
@deadok22

These are different issues actually. In your case both packages "github.com/gbrlsnchs/jwt/v3" and "example.com/example/i27/jwt" have same identifier which is "jwt". What minimock does is it includes all imports from the original file into the destination file and hope that goimports will fix imports which is not happening here because packages have same id and there there are references

[2019-04-23 09:23] deadok22 commented on #27
I must have misunderstood the original ticket then. I thought it was about having `import "go.uber.org/atomic"` in a package named `atomic` :)

The workaround I suggested earlier works in this case, too, yes - that's exactly what I was doing when I first saw this ticket.

As for the proper fix, I guess implementing some logic for generating aliases would be the only way to go...

[2019-04-23 13:05] hexdigest commented on #27
@deadok22 please check if version 2.1.4 works for you #28 should be fixed in this release either.

[2019-04-23 13:05] #27 closed

[2019-04-23 13:07] hexdigest commented on #28
@deadok22 this should be fixed in 2.1.4, please check

[2019-04-23 13:07] #28 closed

[2019-04-23 18:33] rekby opened #30 "Ignore some arguments"
As first thanks for your program.
Sorry for my english.

Is any way to ignore some arguments in Expect?

for example: i want mock method, that will receive *http.Request.

And I want check for this argument will not nil, and nothing more.

Or many method receive context.Context argument and, but context may renew internally (for example add value or timeout) and it will not same object, that I pas

[2019-04-24 08:28] hexdigest commented on #30
Hi @rekby

I'll think about it but what I can say for sure is that the things you asking for require interface{} arguments which is not going to happen in minimock. Because one of the main features of minimock is that all generated code is statically typed and being type checked by the compiler and being auto-completed by IDE and editors and being analyzed by linters and so on and so forth.

What

[2019-04-24 09:36] deadok22 commented on #27
Thanks @hexdigest! `2.1.4` works fine for me, albeit it's a bit to aggressive in introducing aliases: in the example I shared above there is only one "jwt" import in the mock destination package, so aliasing is not required. Improving this in the future might be a good idea.

[2019-04-24 09:36] deadok22 commented on #28
Awesome! Thank you @hexdigest!

[2019-04-24 09:56] rekby commented on #30
Hi, @hexdigest .

for example code:
[code]

I can't use when, then syntax - becouse mock always receive context other, then I pass to func limitedTimeSumm.

And I don't real need value of context in mock.
In my case I use context for logging and context pass to every method. Sometime method add values to context (request_id, some detail for repeat in next log lines - for better read log) and pass

[2019-04-24 09:58] deadok22 commented on #30
We could look into introducing match funcs. Currently the function for matching the expectation is deep equality of all arguments.

The API may look like:
[code]

Or:
[code]

Or we could employ fluent interfaces to specify matchers for all args in order:
[code]

That will likely make the mocks considerably bigger, though. So it's probably worth adding a separate option for enabling this behavior.

[2019-04-24 10:29] hexdigest commented on #30
@deadok22

This
[code]
is not very much better than Set:
[code]

@rekby

1. I don't think that with this notation `summerMock.SumMock.When(nil, 1, 2).Adv(SummerSumCtxArgParam{Ignore:true}).Then(3)` you'll get less boilerplate code than with simple Set() which allows you do do literally anything.
2. Can you provide an implementation of the mock you would like to see by altering current implementati

[2019-04-24 11:03] deadok22 commented on #30
@hexdigest I'm not saying it's very convenient, but it's a lot better than `Set`: it allows to leverage expectations.

With `Set` one has to implement assertions around things like invocation count themselves, implement different behaviors on different inputs, etc. One other important use-case that API would cover is asserting arguments' properties like "the first arguments' field X matches match

[2019-04-24 12:41] rekby commented on #30
Yes, I can. It can take few days.

[2019-04-27 15:41] rekby commented on #30
@hexdigest
Example: https://gist.github.com/rekby/edc062095eca7ef7dc99be17d6717466

On page: https://gist.github.com/rekby/edc062095eca7ef7dc99be17d6717466/revisions
You can see my changes in mock file.

[2019-04-27 16:01] rekby commented on #30
This interface with user dfained comparer function let custom check of arguments.

For example - when I send *http.Request to mock of httpclient - I want check only few parameters (url, method etc), and I can set these parameters in want object and custom comparer. And I don't need custom full request.

[2019-04-27 17:52] msoap commented on #27
@hexdigest thank you, now it works fine.

[2019-04-30 07:02] rekby commented on #30
Complex work with some params (ignore or global check for valid: valid context, not nil, etc) allow check if all expected calls of mock did.
With SetFunc it need additional code.

[2019-05-01 22:57] rekby opened #31 "Nil panic when method not called"
If set return parameters without .Expected for method with arguments, then not call the method - minimock will panic on Finish.

tmp.go
[code]

generated code:
https://gist.github.com/rekby/3e95b03c8220cd5da895e8ccaa66bd44

[2019-05-02 08:40] rekby commented on #30
Will you OK if I add this feature myself?

[2019-05-02 08:46] hexdigest commented on #30
I'll be able to review it and respond not earlier than 12 of may

чт, 2 мая 2019 г., 11:40 Timofey Koolin <notifications@github.com>:

[2019-05-14 08:36] #31 closed

[2019-05-25 17:17] Kangaroux opened #35 "Allow for checking mocked calls by hand using a call history"
[code]

This example is somewhat useless since the arguments are known at runtime. But in cases where you may want to ignore certain arguments, or where the actual value of the arguments are not known, this would be extremely useful.

A practical example of this would be testing a function which accepts a struct argument. You may only be interested in running assertions on a couple fields. Or perh

[2019-05-25 20:19] hexdigest commented on #35
Hi @Kangaroux

Thanks for the proposal.

Let me start from the end. First of all I don't like the "Ignore" semantics. I would change it to
```mock.AddMock.ExpectAnything().Return(something)```. Because "Ignore" doesn't tell you anything. What are we going to ignore here? In the case of ExpectAnything, mc.Finish() will check only the fact that the "Add" method has been called within the test but it

[2019-05-25 20:40] Kangaroux commented on #35
`ExpectAnything` works. The naming could be better. `SkipExpectations`, `CaptureOnly`, etc.

As for using `Set`, while that certainly works it ends up doing a bit of redundant work since minimock is already capturing arguments has a struct it stores the args in. The boilerplate is a bit annoying to write as well.

I'll see if I can get a PR put up over the long weekend

[2019-05-25 23:33] Kangaroux commented on #35
PR for call args: https://github.com/gojuno/minimock/pull/36

[2019-05-29 06:01] deadok22 opened #37 "Follow Go Modules release versioning"
The latest version (`v2.1.5`) causes `go list` and some other tools to fail:
[code]

Using one of the approaches suggested in [Releasing Modules (v2 or Higher)](https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher) would resolve this.

Workaround: depend on `minimock` using pseudo-versions as if it is not a proper go module. See [this doc](https://github.com/golang/go/wiki/Modu

[2019-05-30 14:18] Kangaroux opened #38 "Implement a way to skip checking expectations for a mock object"
Based on #35.

It would be great if a mock could be skipped when the mock controller checks to see if expectations were met. This has several use cases:

- Argument values are not known at runtime (e.g. random)
- Argument value is complex (e.g. struct with private fields)
- Mocking an interface to either make a no-op implementation or to capture call args (satisfies both the above points and reduc

[2019-05-30 14:19] Kangaroux commented on #35
Closed and moved to #38

[2019-05-30 14:19] #35 closed

[2019-05-30 14:53] hexdigest commented on #38
@Kangaroux

I just remembered that recently we changed the generated code that Return works without preceeding Expect.

So
[code]

Is already supported by the:
[code]

Notation

So if there are no calls to Expect/When/Then there're no expectations to be met.

[2019-05-30 15:10] jesseroux commented on #38
@hexdigest Ok great. Is that documented somewhere? I can't test it right now but I recall seeing an error like `unexpected call to mock`. I don't believe I set a `Return()` on that particular mock, though. So I assume it means that there needs to be at least a `Return()` on the mock?

[2019-05-30 15:18] hexdigest commented on #38
@jesseroux yes there need to be at least a Return() call on the mock.

[2019-05-30 15:20] jesseroux commented on #38
@hexdigest OK. I'll make a PR later to clarify that then

[2019-05-30 15:21] hexdigest commented on #38
@jesseroux great! Can you please also mention Calls() method that you just added?

[2019-06-02 18:45] Kangaroux commented on #38
@hexdigest Just to clarify about not needing an `ExpectAnything` method, because the current docs say that isn't how it works: https://godoc.org/github.com/gojuno/minimock#hdr-Keep_your_tests_clean

If the docs weren't updated when the `Return()` change was made I can just remove that section.

[2019-06-17 09:50] jonathanbp opened #39 "Use more unique variable name for mock"
I have a generated mock that doesn't compile because it has a method where one of the arguments has the name `m`. This conflicts with the `m` name given to the mock itself in the `Expect` method:

[code]

This could be fixed by having a more unique name for the mock (in `template.go`?), I think.

[2019-06-17 16:08] #39 closed

[2019-06-17 16:14] hexdigest commented on #39
Hi @jonathanbp !

Thanks for raising the issue, please check that v2.1.7 works for you.

[2019-06-17 17:20] jonathanbp commented on #39
It works - thanks for the quick response!

[2019-06-17 19:48] hexdigest commented on #38
@Kangaroux can you please clarify what confuses you in the docs? What I wanted to say in this section is that Expect/Return/When/Then initialize a mock for some method and if you initialized a mock then MockController.Finish() ensures that this particular method has been called during the test.

The fact that you created an instance of the mock, i.e. `readCloserMock := NewReadCloserMock(mc)` isn't

[2019-06-21 15:49] ruz commented on #30
Hello, we also want similar thing, but our idea to address this issue is very different. Our points are:

- we really like that `XxxMock.Expect(...)` has the same signature as Xxx function and we don't want to lose this
- most of our problems come from context.Context as first argument
- thus our developers just don't check arguments of calls
- overriding XxxFunc ( `XxxFunc = func (...)`) to check

[2019-06-21 16:56] shoenig commented on #30
@ruz If I understand correctly, in the typical case where you just want to ignore a context.Context argument that appears first, you'd be providing an implementation that is something like,
[code]

[2019-06-21 18:22] ruz commented on #30
Yep. Very close. It's even questionable that the function should have return value or not, it can be:

`XxxMock.XxxArgumentsChecker = func(t *testing.T, exp XxxArgumentsStruct, got XxxArgumentsStruct) {
    // ignore ctx (Arg0)
    exp.Arg0 = nil
    got.Arg0 = nil

    // compare the rest, require or assert or whatever
    require.DeepEqual(t, exp, got)
}`

This also allows you to compare complex

[2019-06-21 20:47] rekby commented on #30
I like idea with ArgumentChecker func.
I think it will good if return value will one of values: minimock.DefaultChecker, minimock.Accept, minimock.Reject:

[code]

then
[code]

and I want different type for Got and Expected params structs - for prevent mistake of it placement.

[2019-06-24 15:33] ruz commented on #30
I will split conversation into different issue.

[2019-06-24 15:46] ruz commented on #30
I'm ok with either syntax, some may be impossible or impractical.

Not clear how to define these functions. I believe setting them for every instance would be too wordy. Do you agree?

On the other hand. If you declare all checkers for a mocked interface in one place far from test code then it may become not obvious.

Wonder how to get approve of concept from @hexdigest .

[2019-06-24 17:09] hexdigest commented on #30
Hi everyone!

@ruz I definitely like the concept of "checkers" more than previously proposed solutions to this problem (well similar solution with "matchers" was proposed by @deadok22 ). But I'm still in doubt about the benefit of using checkers comparing to the `Set` helper.

Let's look at the code. Set goes first:
[code]

Using "checker" it will be something like:
[code]

Is it worth it? I'm not

[2019-06-24 17:21] hexdigest commented on #30
If you guys still insist that Set is too wordy I'm ~ok with the following "checker" signature:
`func(want, got *DoFuncArguments) error`

This will allow us to have:
1. standard output from minimock
2. one structure for got/want (I don't like @rekby's proposal about two identical types with different names)
3. order of the want/got args is the same as in famous stretchr/testify toolkit.

[2019-06-25 06:38] rekby commented on #30
Not composition only.
For example - I want test, which call func with some internal timeout (and change context for next functions - example with limitedTimeSumm above) or (in my case) - add some details for logging and save logger to context.
I can't pre-create context out of functions because it will different objects and will not match with standard comparer.

[2019-06-25 06:47] rekby commented on #30
My be add default version of mocked function to call from set?

[code]

It will allow:
1. Do own checkrs with higher priority
2. If add function similar to IsMatched - for check arguments without call count, return result, etc - allow do self checkers with lower priority
3. Ignore some arguments and allow use When/Then logic - for other arguments

[2019-06-25 07:15] ruz commented on #30
Your example with checker is slightly incomplete, it will look like this:
[code]

Set() can be used, but it's not that declarative as Expect/Return pairs and other helpers minimock has. I'm also considering something like the following approach:
[code]

I find above a bit awkward. Ability to define Return after Set can be helpful:
[code]
Can this be done? It would be very close to my original idea

[2019-06-25 07:26] hexdigest commented on #30
@rekby In your example you already used Set which you find wordy and hard to write. If you already used why do you need Default? Also using Default assumes that along with set you used When/Then or Expect/Return. So correct complete example would be something like:

[code]

Which I find **highly** unclear. Because how you can tell what actually is going on here what expectations and what are retur

[2019-06-25 07:43] hexdigest commented on #30
@ruz @rekby
What if along with `Expect` we have `Inspect` helper:

[code]

or

[code]

?

[2019-06-25 11:52] ruz commented on #30
As I said above I'm ok with Set() that can be followed by Return() call without overriding Set(). Looks like Inspect will do exactly this. Am I correct?

What's the purpose of return value (error)? Just sugar?

I don't think you should pass minimock.Tester inside Inspecting function. Users can pass closure over testing.T.

So far it looks good for my purpose, and I can implement re-usable checkers

[2019-06-25 12:49] hexdigest commented on #30
@ruz

Set can't be followed by Return because it leads to unclear behavior:
1. You can return result from Set
2. You set results with Return

It's not clear what results to expect here.

Not really, you could use `Inspect` with `Return` with no problems because minimock will ensure that you didn't use `Set` before or after Inspect like it does with When/Then/Expect/Return to avoid unclear behavior

[2019-06-25 13:12] hexdigest commented on #37
@deadok22

Can you please provide more details like Go version and maybe some dummy project for me to be able to reproduce it.

Also, what option do you think is the best? Since 2.x is already broken I'm thinking of:
1. putting `module github.com/gojuno/minimock/v3` to go.mod file
2. replacing imports in all files in this repo to `github.com/gojuno/minimock/v3`
3. tagging this commit as v3.0.0

[2019-06-26 10:33] ruz commented on #30
I love `Inspect` + `Return` very much. One thing to decide is  signature of the func you pass as argument to `Inspect`.

I don't understand claim that "assertions using other testing frameworks won't be possible."

[code]
What wrong with this?

I would really prefer arguments to match original function we mock (no tester object), return value to be empty (no error). I would use require check if I

[2019-06-26 11:45] hexdigest commented on #30
@ruz

The problem with this code is that if you test concurrent code and `Do` method is being called from within several goroutines then you may end with panic due to `*testing.T` methods are not concurrent safe. Such code requires some effort to be safe like wrapping testing.T with mutexes or using channels to send results of assertions. But in terms of readability in simple cases it's much bette

[2019-06-26 12:35] deadok22 commented on #30
I've built a prototype supporting the following syntax today:
[code]

This is similar to how Java mocking frameworks do things. The `Matched.*` funcs return zero values of the method parameter types and register the argument match func. Match funcs can be mixed with value specifications so long as there's no conflicts.

Here's what an implementation of `When` from the example above looks like:
[co

[2019-06-26 12:51] deadok22 commented on #37
Steps to reproduce:
[code]

When the issue is fixed `go.mod` will contain an actual version, not a pseudo-version.

The approach you're thinking of seems reasonable and should work.

[2019-06-26 13:21] ruz commented on #30
@hexdigest

[code]

Safer? Other wrapper can be used or some other means. Don't think it's concern of a mocking tool.

How do we move forward?

[2019-06-26 13:31] hexdigest commented on #30
@ruz

Yes it's safer. I agree that it's not a concern of the minmock.

If everyone is ok with suggested notation:
[code]

I can implement it on a weekend.

[2019-06-26 13:54] hexdigest commented on #30
@deadok22

[code]

I don't really understand how it will work:
1. m.MinimockArg.MatchedContext will be called **before** the tested code
2. m.MinimockArg.MatchedContext should(?) run **before** the tested code)

How ctx from `m.Shoot(ctx, projectile)` is going to be passed to the func argument of the `m.MinimockArg.MatchedContex` to perform a matching?

[2019-06-27 05:05] deadok22 commented on #30
Please see [this branch](https://github.com/deadok22/minimock/tree/matchers) in my fork. I haven't implemented support for all features yet, but basic When/Then works - please check it out. Usage examples can be found [here](https://github.com/deadok22/minimock/blob/matchers/cmd/minimock/target_practice_test.go).

[2019-06-27 07:31] rekby commented on #30
@deadok22, hello.
I saw your branch. I think the idea can work, with some changes:
1. MinimockArg need have functions like MatchCtx, MatchProjectfile, etc - for set matchers by argument name, becouse order of calc params before call When undefined + may be few arguments with same type.
2. Clean matchers after every When.

And I don't very like idea becouse it is not trivial to understand.

I more

[2019-06-27 13:13] deadok22 commented on #30
@rekby not knowing the order of parameters before the `When` call is a given, but I tried to handle it the best I can - see a test case capturing this. Please let me know if there are cases I've missed.

[2019-07-18 11:01] hexdigest commented on #30
@ruz Please check out the new Inspect helper.

@rekby @deadok22

I'm still not convinced in any suggested approach regarding matchers/checkers. Here are my thoughs:
1. Matchers are helpful only with Then helper
2. @deadok22 proposal with `When(m.MinimockArg.MatchedContext...` is not clear and I want to keep minimock clear and simple to use. More concretely I don't like that m.MinimockArg.MatchedCo

[2019-07-18 12:50] hexdigest commented on #37
@deadok22 please check if everything is ok with v3

Also be aware that now minimock puts new import path to the generated code: `github.com/gojuno/minimock/v3`

[2019-07-18 12:50] #37 closed

[2019-07-18 12:52] hexdigest commented on #38
@Kangaroux please follow this thread:
https://github.com/gojuno/minimock/issues/30

Maybe new `Inspect` helper is enough for you?

[2019-07-18 12:52] #38 closed

[2019-07-19 08:25] deadok22 commented on #37
Thanks @hexdigest! Works as expected!

[2019-07-19 08:55] deadok22 commented on #30
Yeah, that's not intuitive unless you're used to Java mocking frameworks that do exactly this.

The `WhenMatch` approach is inconvenient when you want to use deep equality matchers for all arguments but one, which is almost always the case for interfaces with a `context.Context` argument.

[2019-07-19 10:48] hexdigest commented on #30
I agree that per-argument matchers can be helpful but I just don't see any clear approach to implement this functionality.
With per-argument matchers there will be lots other problems and the main one is naming.
If names of the matchers derive from arguments' **names** then we will have problems with methods where arguments names are not defined and this is pretty typical. Also if you already have

[2019-07-23 01:10] deadok22 commented on #30
I gave it some more thought and I agree with you: neither parameter names nor their (static) types can be used to generate good mocks. That leaves us with an option of naming per-argument APIs using names like `Arg0`, `Arg1`, etc. By the way, we can still reuse code per argument type. I'll hack on this when I have time and share what I come up with.

[2019-07-23 06:25] rekby commented on #30
I like WhenMatch WhenMatch https://github.com/gojuno/minimock/issues/30#issuecomment-512769739 from @hexdigest

[2019-08-05 11:30] o1egl opened #40 "no new variables on left side of :="
Generates incorrect code if function has `params` param.

Example:
[code]

Output:
[code]

[2019-08-05 15:54] #40 closed

[2019-08-05 15:56] hexdigest commented on #40
Hi @o1egl

Thank you for posting the bug. Please check if v3.0.1 works for you.

[2019-08-08 13:06] massanchik opened #41 "Generated invalid mock file when return type is channel"
Hi!
I have interface like this
[code]
And when generated mock file with
`minimock -i .Consumer`

Inside it have
`funcGetDone          func() (ch1 error)`
`func (mmGetDone *mConsumerMockGetDone) Return(ch1 error) *ConsumerMock `
`func (mmGetDone *mConsumerMockGetDone) Set(f func() (ch1 error)) *ConsumerMock`
`func (mmGetDone *ConsumerMock) GetDone() (ch1 error)`

Which breaks interface requirements

[2019-08-26 16:35] #41 closed

[2019-08-26 16:42] hexdigest commented on #41
Hi @massanchik

Thanks for posting the bug!
Please check out the latest [v3.0.2](https://github.com/gojuno/minimock/releases/tag/v3.0.2) release and see if it works for you.

[2019-08-28 07:28] biffen opened #42 "go get -u Fails with Minimock"
Lately (since Minimock started using Go modules, it seems) we’ve had trouble running `go get -u` on several projects that use Minimock. It always fails with:

[code]

(The timestamp and commit ID aren’t always the same, but seem to point to the latest release.)

We believe the cause is Minimock, since we’re not seeing anything like it with any other module, and the error can be reproduced with a m

[2019-08-28 09:18] hexdigest commented on #42
Hi @biffen

Thanks for posting the issue. What I noticed in your go.mod is that for some reason you have v0.0.0 instead of 3.0.x

Can you please put:
`github.com/gojuno/minimock v3.0.2`

in your go.mod and try `go get -u` again?

[2019-08-28 13:41] hexdigest commented on #42
Hi @biffen

Thanks for posting this issue!
Please try `require github.com/gojuno/minimock/v3 v3.0.4`

And check if it works for you.

[2019-08-28 13:41] #42 closed

[2019-08-28 14:14] biffen commented on #42
@hexdigest That does indeed fix it. Thanks! :smile:

[2019-09-09 07:41] rogpeppe opened #43 "add v1.9.2 tag"
As v2 introduces API-breaking changes, we have a lot of code that can't yet move off v1. Please could you add a `v1.9.2` tag (the same as the current `1.9.2` tag) so that v1 minimock plays better with Go modules? Thanks!

[2019-09-09 07:51] hexdigest commented on #43
Hi @rogpeppe !

Can you please clarify how adding this tag would help?

[2019-09-09 10:39] rogpeppe commented on #43
The go tool does not recognize `1.9.2` as a valid version tag. I recently saw people suggesting that it be installed using the pseudo-version (v0.0.0-20190130082935-96af809257c4). While it is actually possible to use the real version (github.com/gojuno/minimock/cmd/minimock@1.9.2), that just resolves to the pseudo-version under the hood.

It would be nice if the actual version was tagged, avoiding

[2019-09-09 17:11] hexdigest commented on #43
@rogpeppe got it, thank you for posting this issue!
I just added v1.9.2 tag. Can you please check if it works for you?

[2019-09-09 20:35] rogpeppe commented on #43
That works great now, thanks!

[2019-09-09 20:35] #43 closed

[2019-09-17 15:34] shoenig opened #44 "Consider purging vendor directory"
Now that m`minimock` is using Go modules, it seems redundant to have the `vendor` directory. Modules are publicly served via `proxy.golang.org`, and paranoid orgs will typically run an additional internal proxy. The `vendor` directory is also ignored by default.
https://github.com/golang/go/wiki/Modules#how-do-i-use-vendoring-with-modules-is-vendoring-going-away

[2019-09-27 08:52] SergeyRadist opened #45 "Data race in generated code"
Hello guys, I probably have race in generated _mock file.
This is my test https://pastebin.com/Bt5XAxhb
`go test ./ledger/light/proc/set_result_test.go -race -count 10000`
full output here https://pastebin.com/EVUPkiVs
short output:
[code]

_What I did?_
I've noticed that if I'm using Inspect instead of Set there is no race.
So I added lock/unlock in mocked method before "Setted" func is calling a

[2019-09-29 12:16] hexdigest commented on #45
Hi @SergeyRadist
Thanks for posting the issue!

I briefly looked at your test and it seems like these tests are completely isolated one from each other so as mocks.

The difference between Set and Inspect is that all the code inside the Set(ted) func is executed when the test is **running** while inspect is called when the test is done and mc.Finish() is called. So my guess is that you either have

[2019-09-29 12:20] #44 closed

[2019-09-29 12:39] hexdigest commented on #44
Hi @shoenig
Done, thanks for the input!

[2019-10-01 10:35] hexdigest commented on #45
@SergeyRadist did you have a chance to look at the test and wrap assignment to opened var with mutex?

[2019-10-01 11:42] SergeyRadist commented on #45
Thank you very much for your advice, but unfortunately I haven't check everything yet. Planning to do it till the end of the week

[2019-10-07 10:03] SergeyRadist commented on #45
Hello again and thanks!
I found a problem, in one of tests there were an invisible bug
`sender := bus.NewSenderMock(t)`
Only sad thing is that stack trace was unusable in this situation and I had to bother you

Btw as I can see from mock, there is no such difference between Set and Inspect. Inspected func is calling during the test and even earlier that Setted

[2019-10-07 20:53] hexdigest commented on #45
@SergeyRadist

Ok no problem, indeed `Inspect` is being called before.
Sorry for the misinformation I was looking at
[code]

But I forgot that we call inspectFunc from the mocked method.

[2019-10-07 20:53] #45 closed

[2019-10-16 08:51] beono opened #46 "Version flag is missing"
Hi,

There was a flag `-version` and now it's missing for some reason.
https://github.com/gojuno/minimock/pull/9

It would be nice to bring it back

[2019-11-15 09:59] hexdigest commented on #46
Hi @beono

Please try v3.0.6

It should output version in the following way:
[code]

[2019-11-15 11:09] beono commented on #46
@hexdigest

Hi, thanks for your attention to this issue.

Unfortunately, I get this
[code]

[2019-11-18 08:24] hexdigest commented on #46
@beono
-version flag shows version of the official build which is injected at compile time
if you install it using `go install` it will always show "dev"

[2019-12-17 05:33] deadok22 opened #47 "Use "go run" in the generated go:generate"
Running minimock without `-g` flag produces a `go:generate` line that looks like this:
[code]

`minimock` can resolve to any command on the system go:generate is run on (most likely, older versions of `minimock`). Let's change the generated command to `go run github.com/gojuno/minimock/v3/cmd/minimock` so that the version from the module's dependencies is used.

That way it'll play nicely with [th

[2020-01-09 15:20] hexdigest commented on #47
Hi @deadok22

As usual thanks for the issue! I was thinking about this approach but the problem with `go run` is that it tries to compile minimock every time. Even though there's now module cache I don't think it's very effective way of calling the tool. In some projects I have >20 mocks. What also bothers me is the fact that I think it's actually a breaking change for some users and if we're goin

[2020-01-17 05:02] deadok22 commented on #47
@hexdigest thanks for sharing your thought process. It all makes sense as ultimately are after reproducible builds / code generation.

The approach with makefiles would definitely work, provided you and your team agree on using makefiles, maintain those makefiles properly, and make sure the build tools are runnable on all operating systems. That can't be achieved in all organizations and it doesn'

[2020-01-27 11:28] rbUUbr opened #48 "Generation for interfaces with no methods"
Hi! Thanks for this library, it really helped me to understand mocks fully! Hope it will get some new awesome features.
So, I have an application that uses GitHub.com/olivere/elastic (We are using a lot from this library), that's why I tried to mock all interfaces from it, in my generate.go:
`//go:generate minimock -i github.com/olivere/elastic.*-o ./`
And I'm getting something like:
[code]

That'

[2020-01-27 12:27] hexdigest commented on #48
Hi @rbUUbr !

Thanks for the issue, it certainly needs to be fixed.

[2020-01-27 13:15] rbUUbr commented on #48
I will take a look on it, because it is important for me :D

[2020-01-27 14:16] hexdigest commented on #48
Ok, PRs are always welcome!

The only thing I wanted to tell you is that if you generate mocks using interfaces from some 3rd party library you're probably doing something wrong (not a go way).

Interfaces should be defined in **your** packages and third party library is just an implementation of **your** interfaces (this is called duck typing). Therefore, you have to generate mocks for **your** i

[2020-01-27 16:00] rbUUbr commented on #48
wow, such a great advice, thanks! Just for example, what if my library has Doer interface, that just performs HTTP requests and it can be used to mock Elastic client. Is it ok to mock such interface?

[2020-01-27 19:42] hexdigest commented on #48
Maybe I misunderstood your question but If you want to **mock** the Elastic client that you use in your library then you need to create an interface with methods of Elastic client you use and make this interface your dependency. Once you described your dependency via the interface you can generate mock for this interface. There's no need to generate mock for HTTP client if you want to mock the cli

[2020-01-28 10:39] sieuwerts commented on #41
I'm using v3.0.6 and this bug is still active.

Trying to generate mock for method with return arguments `(chan MyType, error)` will result in a generated method returning `(MyType, error)`

[2020-01-30 09:53] rbUUbr commented on #48
hmmm ,very interesting. I want to provide full example, because it is very interesting as for me:
I'm using https://github.com/olivere/elastic for ElasticSearch. And In my tests I want to mock calls to ElasticSearch real server, that's why I'm trying to mock:
https://github.com/olivere/elastic/blob/release-branch.v7/client.go#L105
How do you think, is it okay? In my application's code I have struc

[2020-01-30 10:12] hexdigest commented on #48
No it's not ok. You have to define interface in your code that will be implemented (via duck typing) by the olivere/elastic. And then you have to mock the interface YOU defined.

[2020-02-23 03:12] sedalu opened #49 "Simplify"
I use table tests and run each test inside a testing.T.Run closure and prefer to complete all test validation within the closure. To do this with minimock, I setup the mocks in my test cases with a nil minimock.Tester (`NewXMock(nil)`) and then within the closure, I do a type assertion on the mock, create a new controller, set the mock's tester and register the mock with the controller. Ex:

[code

[2020-02-23 08:08] hexdigest commented on #49
Hi @sedalu

I understand your problem but I solve it differently, rather than defining mock as a property of table test I usually define mock as a property of tested entity (some struct for example) and I use closure that return the tested entity.

You can try look at this GoUnit template:
https://github.com/hexdigest/gounit/blob/master/templates/minimock

Or you can just follow the GoUnit readme

[2020-02-26 15:03] sedalu commented on #49
I use `gotest` via VSCode, so I'll have to research how to use a custom template. But adding `init func(t minimock.Tester, x *X)` to the test case definition is an interesting idea.

[2020-02-26 15:06] hexdigest commented on #49
@sedalu I believe that current version of gotest allows to use custom templates. I created GoUnit when gotest wasn't able to do this and generated pretty ugly test stubs.

[2020-02-26 15:12] #49 closed

[2020-06-02 21:03] beono commented on #41
Hi,

As @sieuwerts mentioned it wasn't fixed.
Some of my colleges also faced this issue and I hope I got the solution here https://github.com/hexdigest/gowrap/pull/25

[2021-01-13 11:41] unkeep opened #51 "Proposal: add .Panic() alongside .Return(...) for interrupting a test"
It would be useful for testing expectations which do not return an error or the error does not interrupt a flow.

example code:
[code]

example test:
[code]

Of course the same could be done by adding panic() to the end of Inspect func, but the proposed way is more natural and shorter

[2021-01-13 11:47] unkeep opened #52 "Proposal: add an ability to put all generated mocks to a single file"
Output directories would be much cleaner

[2021-01-15 11:47] sm4ll-3gg opened #53 "go:generate from files generated with the -o parameter is broken"
Let's imagine that we have an interface e.g. `Fooer` in the `/internal/pkg/fooer` directory.
We want to generate mocks for it. So we run `minimock -i ./internal/pkg/fooer.Fooer -o internal/pkg/fooer` to get a `fooer_mock_test.go` generated near the tests files.

In the generated file we have `go:generate` comment:
`//go:generate minimock -i github.com/org/project/internal/pkg/fooer.Fooer -o ./inte

[2021-01-22 00:50] btipling opened #55 "Release tags are versioned as "dev""
1. Run `go get github.com/gojuno/minimock/v3/cmd/minimock@v3.0.8`
2. Run `minimock --version`
3.  Output:
[code]
4. What I expected to see:
[code]
In addition the top of the mocks all say:
[code]
Instead of (3.0.8)

If you download the tagged release source code it shows as "dev"[0]:
[code]
[0] https://github.com/gojuno/minimock/archive/v3.0.8.zip

[2021-03-27 20:45] rekby opened #56 "Set type name for generated mock"
For example I want generate mock for interface ```test/test.Interface```. Now generated class will have name ```InterfaceMock```.
I want some similar to ```minimock -i test/test.Interface -name TestInterfaceMock``` and have generated name ```TestInterfaceMock```.

And it nesessary if I want to mock two interfaces ```test/test.Interface``` and ```test/test2.Interface``` to one dest package.

Now I

[2021-06-22 07:29] damianopetrungaro commented on #56
@rekby @hexdigest this can be marked as done

[2021-06-22 08:54] hexdigest commented on #56
@rekby please take a look at -n flag in [v3.0.9](https://github.com/gojuno/minimock/releases/tag/v3.0.9)

[2021-06-22 08:54] #56 closed

[2021-07-21 12:35] ovesh opened #58 "generating a file that doesn't compile"
Minimock is generating a file that doesn't compile:
`go run github.com/gojuno/minimock/v3/cmd/minimock -g -i k8s.io/client-go/kubernetes/typed/core/v1.ServiceInterface`

The generated file is referencing a package (`restclient`) that isn't being imported.

minimock version: v3.0.9
k8s.io/client-go version: v0.21.3

[2021-07-21 12:38] ovesh commented on #58
`ServiceInterface` is embedding another interface `ServiceExpansion` which is bringing in an extra function `ProxyGet`. The return type for that function isn't being imported.

[2021-08-04 17:43] davide125 opened #59 "Test failures on 32 bit architectures"
armv7hl: https://koji.fedoraproject.org/koji/taskinfo?taskID=73283110
[code]

i686: https://koji.fedoraproject.org/koji/taskinfo?taskID=73283111
[code]

[2021-08-05 05:37] hexdigest commented on #59
Hi @davide125 !
This is wild, I think it's a Go bug https://github.com/golang/go/issues/599

What version of Go are you using?

[2021-08-05 12:41] davide125 commented on #59
Looks like it's golang 1.16.6

[2021-10-11 02:36] kishaningithub opened #61 "Comparison with gomock"
I am currently using the mockgen utility that comes with gomock to generate mocks for any interface (both inside the app and also for imported go modules)

https://github.com/golang/mock

A comparison of this tool and gomock+mockgen would be really awesome in my opinion

[2021-10-13 11:06] maratori opened #62 "Use `t.Cleanup()` in constructor"
Now I have to remember to add `defer` or `t.Cleanup` in each test manually.
[code]
or
[code]
It would be great to do it automatically in mock constructor like gomock does. Of course only if it's go 1.14 or newer.

[2021-11-07 22:24] davide125 commented on #59
Looks like this was fixed in 3.0.10, tests are passing on all arches now: https://koji.fedoraproject.org/koji/taskinfo?taskID=78495263

Thanks!

[2021-11-07 22:24] #59 closed

[2021-11-10 11:34] nordicdyno commented on #53
I've run into the same issue. Is any hope for a fix to be merged?

[2021-11-11 22:48] ovesh commented on #58
This is actually a bug in github.com/hexdigest/gowrap, at least in v1.1.8. Specifically, the list of import added [here](https://github.com/hexdigest/gowrap/blob/v1.1.8/generator/generator.go#L138) doesn't contain the extra import needed for the return value.

[2022-10-06 13:27] dvachaiev opened #63 "Doesn't work on packages with generics"

[2022-11-30 06:08] CyganFx opened #65 "Add parallel test scenario in README"
Hi, when one executes tests in parallel with `t.Parallel()`, and does something like: `defer mockController.Finish()` (similar with `Wait(<duration>)` ) controller fails to recognize that some of mocks' Expect/Return and other patterns are not used. Without parallel tests, there would be error like: 'Expected to call <smth>.GetMock ...'

To fix that, you need to use Cleanup method of `testing.T` a

[2022-11-30 14:20] CyganFx opened #66 "Allow expected counter for concrete controller's method"
Hi, I think there is an often case when we need to set expected times that concrete controller method will be executed during the test. Currently, `<method>AfterCounter` allows only to get the current value of calls to the mocked method, which is useless in table tests and lead to potential logical errors to pass the test.

There is a convenient method `Times(N)` in gomock. Could you add a similar